[submodule "modules/volumen"]
	path = modules/volumen
	url = https://github.com/igrek51/volumen
	branch = master
[submodule "modules/lichking"]
	path = modules/lichking
	url = https://igrek51@bitbucket.org/igrek51/lichking.git
	branch = master
